name: Build ISO
on: [push, workflow_dispatch]
jobs:
  archiso:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
      options: --privileged
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup and Build
        run: |
          # 1. Ключи и софт
          pacman-key --init
          pacman-key --populate archlinux
          pacman -Syu --noconfirm archiso grub libisoburn mtools squashfs-tools
          
          # 2. Создаем структуру папок
          mkdir -p airootfs/etc/systemd/system/display-manager.service.wants
          mkdir -p airootfs/etc/systemd/system/multi-user.target.wants
          
          # 3. Принудительные ссылки (KDE и Сеть)
          ln -sf /usr/lib/systemd/system/sddm.service airootfs/etc/systemd/system/display-manager.service
          ln -sf /usr/lib/systemd/system/NetworkManager.service airootfs/etc/systemd/system/multi-user.target.wants/NetworkManager.service
          
          # 4. Сборка
          mkarchiso -v -w /tmp/archiso-tmp -o ./out .

      - name: Upload ISO
        uses: actions/upload-artifact@v4
        with:
          name: Arch-KDE-Live
          path: out/*.iso
