name: Build ISO
on: [push, workflow_dispatch]
jobs:
  archiso:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
      options: --privileged
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup and Build
        run: |
          pacman -Syu --noconfirm archiso
          # Авто-создание ссылок для запуска KDE и Сети
          mkdir -p airootfs/etc/systemd/system/display-manager.service.wants
          ln -s /usr/lib/systemd/system/sddm.service airootfs/etc/systemd/system/display-manager.service
          ln -s /usr/lib/systemd/system/NetworkManager.service airootfs/etc/systemd/system/multi-user.target.wants/
          
          # Сборка
          mkarchiso -v -w /tmp/archiso-tmp -o ./out .
      - name: Upload ISO
        uses: actions/upload-artifact@v4
        with:
          name: Arch-KDE-Live
          path: out/*.iso
