name: Build-Arch-ISO
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build ISO
        uses: docker://archlinux:latest
        with:
          args: >
            bash -c "pacman -Syu --noconfirm archiso &&
            mkarchiso -v -w /tmp -o /github/workspace/out ."
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: my-arch-iso
          path: out/*.iso
