name: Build ISO
on: [push, workflow_dispatch]
jobs:
  archiso:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
      options: --privileged
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup and Build
        run: |
          # 1. Инициализация ключей и установка инструментов
          pacman-key --init
          pacman-key --populate archlinux
          pacman -Syu --noconfirm archiso grub libisoburn mtools squashfs-tools dosfstools

          # 2. Подготовка офлайн-репозитория
          mkdir -p airootfs/root/repo
          mkdir -p /tmp/db/sync
          # Синхронизируем базы во временную папку
          pacman -Sy --dbpath /tmp/db
          # Скачиваем все пакеты из вашего списка packages.x86_64
          # Используем grep, чтобы исключить пустые строки и комментарии
          pacman -Sw --cachedir airootfs/root/repo --dbpath /tmp/db --noconfirm $(grep -v '^#' packages.x86_64)
          # Регистрируем пакеты в локальной базе
          repo-add airootfs/root/repo/custom.db.tar.gz airootfs/root/repo/*.pkg.tar.zst

          # 3. Копируем конфиги загрузчика (GRUB и Syslinux)
          cp -r /usr/share/archiso/configs/releng/grub .
          cp -r /usr/share/archiso/configs/releng/syslinux .

          # 4. Настройка автозапуска KDE и Сети
          mkdir -p airootfs/etc/systemd/system/display-manager.service.wants
          mkdir -p airootfs/etc/systemd/system/multi-user.target.wants
          ln -sf /usr/lib/systemd/system/sddm.service airootfs/etc/systemd/system/display-manager.service
          ln -sf /usr/lib/systemd/system/NetworkManager.service airootfs/etc/systemd/system/multi-user.target.wants/NetworkManager.service

          # 5. Сборка ISO
          # Очистка рабочего пространства перед сборкой
          rm -rf /tmp/archiso-tmp
          mkarchiso -v -w /tmp/archiso-tmp -o ./out .

      - name: Upload ISO
        uses: actions/upload-artifact@v4
        with:
          name: Arch-Naventwo-Offline-ISO
          path: out/*.iso
          retention-days: 5
